#main {
	padding: 30px 0;
}
#helpPage {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#helpPage h1 {
	font: 500 28px/29px ProximaNova, Arial, sans-serif;
	margin: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	text-transform: capitalize;
}
#helpPage h2 {
	font: 500 21px/24px ProximaNova, Arial, sans-serif;
	margin: 0;
}
#main h3#pageHeader {
	font: 400 28px/24px ProximaNova, Arial, sans-serif;
	margin: 0px auto 0;
	max-width: 1360px;
	width: 97%;
}
#helpPage h3 {
	font: 400 16px/24px ProximaNova, Arial, sans-serif;
	margin: 0;
}
#helpPage a {
	font: 400 17px/24px ProximaNova, Arial, sans-serif;
}
#helpPage ul, #helpPage ol {
	width: 100%;
 	margin: 10px auto;
 	display: block;
	list-style: none;
}
#helpPage li {
	font: 100 17px/18px ProximaNovaReg, ProximaNova, Arial, sans-serif;
	color: #303030;
}
#helpPage li a {
	font: 400 17px/24px ProximaNova, Arial, sans-serif;
}
#helpMain {
	width: 100%;
	max-width: 1400px;
	margin: 0px auto;
	padding: 0px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
#helpBreadCrumbs {
	width: 100%;
	max-width: 1400px;
	min-height: 20px;
 	margin: 16px auto 8px;
  	padding: 0px 10px 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
}
#main #helpMain #helpBreadCrumbs a{
	font: 500 15px/21px ProximaNova, Arial, sans-serif;
	color: #00aeef;
	text-transform: capitalize;
}
#helpBreadCrumbs #breadCrumbInner a:before{
	content: "|";
	margin: 0 5px;
	color: #303030;
}
#helpBreadCrumbs #breadCrumbInner {
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
#helpMain #helpSideBar {
	width: 215px;
	padding: 0px 10px 14px;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}
#helpMain #helpSideBar a {
	color: #303030;
}
#helpMain #helpSideBar ul {
	padding: 0;
}
#helpMain #helpSideBar #helpSideBarTopics li {
	margin: 6px 0;
}
#contactSideBar {
	width: 100%;
	max-width: 240px;
 	margin: 40px 0 0 0;
  	padding: 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
	z-index: 2;
}
#contactSideBar .contactCell {
	width: 100%;
  	padding: 0px 0px 0 35px;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
	position: relative;
	margin: 8px 0;
}
#contactSideBar .contactImg {
	height: 100%;
	width: 30px;
	min-height: 24px;
	margin: 2px 5px 0 0;
	position: absolute;
	left: 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
}
#contactSideBar .contactCell img {
	-o-object-fit: contain;
	object-fit: contain;
	-ms-flex-item-align: center;
	align-self: center;
	max-width: 24px;
}
#contactSideBar {
	margin-bottom: 10px;
}
#helpSideBar #contactSideBar .contactCell a {
	font: 400 15px/20px ProximaNovaReg, ProximaNova, Arial, sans-serif;
	margin-bottom: 0px;
	color: #00aeef;
	-ms-flex-item-align: center;
	align-self: center;
}
#contactSideBar .contactCell a:hover {
	color: #c8c8c8;
}
#helpSideBar .contactHours {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
#helpSideBar .contactHours h3 {
    margin-top: 0px;
}
#helpSideBar .contactHours h4 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}
#helpMain #helpContent {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 75%;
	flex: 1 1 75%;
	padding: 0px 10px 10px;
	margin-right: 16px;
}
#helpContent .helpContentWrap {
	min-height: 400px;
	-webkit-transition: .3s height;
	transition: .3s height;
}
#helpSearch {
	width: 100%;
	margin: 0px auto 16px;
	z-index: 2;
}
#helpSearch div {
	width: 100%;
	height: 40px;
	position: relative;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: nowrap;
  	flex-wrap: nowrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
}
#helpSearch input {
	padding: 4px 5px 4px 12px;
	width: calc(100% - 40px);
	height: 100%;
	border: 1px solid grey;
	border-right: none;
}
#helpSearch .helpIconDiv {
	width: 40px;
	height: 40px;
	background: url('https://www.bodybuilding.com/images/help-pages/icons/magnifying-glass.png') no-repeat, #00aeef;
	z-index: 2;
	background-position: center;
	cursor: pointer;
}
#helpErrorMessage {
    
}
#helpQuickLinks {
	width: 100%;
	margin: 5px 0 34px 0;
	padding: 0 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#helpQuickLinks a {
	font: 600 14px/16px ProximaNova, Arial, sans-serif;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
	display: block;
	margin: 0 4px;
	padding: 10px 5px;
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid grey;
	color: #303030;
	text-align: center;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
}
#helpMain #helpHeader {
 	margin: 0px 0 14px;
  	padding: 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: nowrap;
  	flex-wrap: nowrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
	-webkit-transition: opacity .3s;
	transition: opacity .3s, top .5s;
}
#helpMain #helpHeader img {
	max-height: 25px;
	-ms-flex-item-align: center;
	align-self: center;
	margin-left: 10px;
}
#helpMain .headerFixed {
    position: fixed;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto !important;
    background-color: #FFF;
    padding: 10px 20px !important;
    z-index: 5 !important;
}
#helpMain #helpSectionBoxes {
 	margin: 0 0 0 0;
  	padding: 0 0 0 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: start;
  	-ms-flex-pack: start;
  	justify-content: flex-start;
	-webkit-transition: opacity .3s, height .4s;
	transition: opacity .3s, height .4s;
}
#helpMain .helpSectionBox {
	width: 33.33333%;
 	margin: 12px 0px;
    padding: 0 4px;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: column;
 	flex-direction: column;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
 	text-align: center;
	color: #232323;
	-webkit-transition: .6s background-color;
	transition: .6s background-color;
}
.helpSectionBoxWrap {
	margin: 0;
	padding: 0;
	min-height: 58px;
	border: 1px solid #303030;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
 	-webkit-box-orient: horizontal;
 	-webkit-box-direction: normal;
 	-ms-flex-direction: row;
 	flex-direction: row;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	-ms-flex-line-pack: center;
  	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	justify-content: center;
 	text-align: center;
	color: #232323;
	font: 500 16px/20px ProximaNova, Arial, sans-serif;
	position: relative;
	background: #FFF;
    -webkit-transition: border .5s;
    transition: border .5s;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center left 20px;
}
#helpMain .helpSectionBox #bodyspace {
        background-size: 40px;
}
.helpSectionBoxWrap:hover {
	border: 1px solid #00aeef;
}
#helpMain .helpSectionBox img {
	-o-object-fit: contain;
	object-fit: contain;
	-ms-flex-item-align: center;
	align-self: center;
	max-height: 30px;
	max-width: 36px;
	position: absolute;
	left: 14px;
}
#helpMain .helpAnswerBox {
	padding: 0px 0px 10px;
	width: 100%;
}
#helpMain .helpAnswerBox h2 {
    font: 400 21px/22px ProximaNova, Arial, sans-serif;
	margin: 0px 0 10px;
}
#helpMain .helpAnswerBox h3 {
    font: 600 15px/20px Helvetica, Arial, sans-serif;
	margin: 14px 0 5px;
    text-transform: capitalize;
}
#helpMain .helpAnswerBox p {
    font: 400 16px/21px ProximaNova, Arial, sans-serif;
	margin: 5px 0 16px;
}
#helpMain .helpAnswerBox p.indent {
	margin-left: 14px;
}
#helpMain .helpAnswerBox ul, #helpMain .helpAnswerBox ol {
	margin: 5px auto 15px;
	width: 96%;
}
#helpMain .helpAnswerBox ol {
    list-style: decimal;
}
#helpMain .helpAnswerBox ul {
    list-style: disc;
}
#helpMain .helpAnswerBox ul ul, #helpMain .helpAnswerBox ol ol {
	margin: 0px auto;
	width: 94%;
}
#helpMain .helpAnswerBox ol ol {
    list-style: decimal;
}
#helpMain .helpAnswerBox ul ul {
    list-style: circle;
}
#helpMain .helpAnswerBox li {
    font: 400 16px/19px ProximaNova, Arial, sans-serif;
	margin: 8px 0 0 10px;
}
#helpMain .helpAnswerBox a {
    color: #00aeef;
    font: 400 16px/19px ProximaNova, Arial, sans-serif;
	margin: auto 2px;
}
#helpMain .helpAnswerBox span {
	font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#helpMain .helpAnswerBox u {
	text-decoration: underline;
	margin: 0px;
}
#helpMain .helpAnswerBox img.smallImg {
	max-height: 15px;
	margin-top: -1px;
}
#helpMain .helpAnswerBox img.midImg {
	max-height: 100px;
	max-width: 100px;
	margin: 12px auto;
	-ms-flex-item-align: center;
	align-self: center;
}
#helpMain .helpAnswerBox img.largeImg {
	max-height: 300px;
	max-width: 300px;
	margin: 14px auto;
	-ms-flex-item-align: center;
	align-self: center;
}
#helpMain .helpAnswerBox iframe {
	margin: 40px auto;
	width: 100%;
    height: auto;
    min-height: 800px;
}
#reset {
 	margin: 0 auto 0 auto;
 	display: block;
 	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	background: #00aeef;
	width: 180px;
	padding: 10px 25px;
	color: #FFF;
	border-radius: 5px;
	cursor: pointer;
}
.helpFade {
	opacity: 0 !important;
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:1230px) {
	#helpMain #helpContent {
		padding: 0px 5px 10px 0;
		margin-right: 0px;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:1195px) {
	#helpMain #helpContent {
		padding: 0px 10px 10px 0;
		margin-right: 0px;
	}
	#helpMain .helpSectionBox {
		width: 50%;
	}
	#helpMain .helpSectionBox .helpSectionBoxWrap {
		font: 400 14px/15px ProximaNova, Arial, sans-serif;
	}
	#helpMain {
		padding: 0 20px;
		margin-top: 20px;
	}
	#helpQuickLinks a {
		font: 600 13px/14px ProximaNova, Arial, sans-serif;
		padding: 8px;
	}
	#helpMain #helpSideBar {
		padding: 0 0px 10px 10px;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:1040px) {
    #helpMain #helpContent {
        padding: 0 0 10px;
    }
	#helpSideBarHeader, #helpSideBar ul {
		display: none;
	}
	#helpMain #helpSideBar, #contactSideBar {
		width: 100%;
		max-width: 100%;
	}
	#contactSideBar {
		margin-top: 20px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	#contactSideBar h2 {
		width: 100%;
		margin-bottom: 3px;
	}
	#contactSideBar .contactCell {
		width: 50%;
	}
	#contactSideBar .contactImg {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 0px;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:920px) {
	#helpQuickLinks {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	#helpQuickLinks a {
		padding: 8px 0;
		width: 220px;
		margin: 7px 5px;	
	}
    .headerFixed {
        padding: 8px 10px !important;
        top: 0 !important;
    }
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:880px) {
	#helpMain {
		padding: 0 10px;
		margin-top: 10px;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:720px) {
	#contactSideBar .contactCell {
		width: 50%;
	}
	.helpSectionBoxWrap {
		margin: 0px 4px;
	}
	#helpMain .helpSectionBox {
		margin: 8px 0;
	}
	#helpMain .helpSectionBox img {
		max-height: 22px;
		max-width: 22px;
	}
	#helpQuickLinks {
		-ms-flex-pack: distribute;
		justify-content: space-around;
		margin-bottom: 24px;
	}
	#helpQuickLinks a {
		padding: 8px 0;
		width: 46%;
		margin: 7px 5px;	
	}
	#helpContent .helpContentWrap {
		min-height: 500px;
		-webkit-transition: .8s height;
		transition: .8s height;
	}
    #helpSearch {
        display: none;
    }
    #main #helpMain #helpBreadCrumbs a {
        margin-bottom: 20px;
        font-size: 16px;
    }
    #helpBreadCrumbs {
		padding: 0;
        margin-top: 8px;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:685px) {
	#helpMain .helpSectionBox img {
		position: relative;
		margin: 0 0 4px 0;
		left: 0;
	}
	.helpSectionBoxWrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0px 6px;
		min-height: 67px;
	}
    #helpPage h1 {
		font: 500 24px/24px ProximaNova, Arial, sans-serif;
		margin: 0;
	}
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:600px) {
	#helpQuickLinks {
		margin: 5px auto 25px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
    h3#helpErrorMessage {
        font-size: 12px;
    }
    #main h3#pageHeader {
        width: 95%;
    }
	#helpQuickLinks a {
		margin: 5px 5px;
		padding: 7px 5px;
		font: 600 13px/13px ProximaNova, Arial, sans-serif;
	}
    #helpMain .helpSectionBox .helpSectionBoxWrap {
        background-size: 26px;
        background-position: center top 10px;
        padding: 23px 0 0 0;
    }
    #helpMain .helpSectionBox #bodyspace {
        background-size: 44px;
    }
    #helpMain #helpSectionBoxes .helpSectionBoxSecond .helpSectionBoxWrap {
        padding-top: 0 !important;
    }
}
/* ----------------------------  MEDIA QUERY ------------------------------ */
@media screen and (max-width:500px) {
	#helpQuickLinks a {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		margin: 5px 3px;
		padding: 10px 5px;
		font: 600 13px/13px ProximaNova, Arial, sans-serif;
		min-height: 48px;
        max-width: 48%;
	}
	#contactSideBar h2 {
		text-align: left;
	}
	#contactSideBar .contactCell {
		width: 100%;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin: 7px auto;
		padding: 0;
	}
	#contactSideBar .contactCell a{
		width: auto;
		text-align: center;
	}
	#contactSideBar .contactImg {
		position: relative;
		max-height: 30px;
	}
	#contactSideBar {
		margin: 20px auto 0;
	}
	.helpSectionBoxWrap {
		margin: 0px 4px;
	}
	#helpPage h1 {
		font: 500 22px/24px ProximaNova, Arial, sans-serif;
		margin: 0;
	}
	#main h3#pageHeader {
		font: 600 21px/24px ProximaNova, Arial, sans-serif;
	}
	#helpBreadCrumbs {
		padding: 0;
        margin-top: 8px;
	}
	#main #helpMain #helpBreadCrumbs a:nth-of-type(2){
		display: none;
	}
	#helpBreadCrumbs #breadCrumbInner a:before{
		content: "<";
	}
}